[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "==2.7.14"
click = "*"
"ruamel.yaml" = "*"
"jinja2" = "*"
"delegator.py" = "*"
colorama = "*"
python-digitalocean = "*"
retrying = "*"
azure-mgmt-resource = "*"
azure-mgmt-network = "*"
azure-mgmt-compute = "*"
haikunator = "*"
azure-mgmt-dns = "*"
requests = "*"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-cov = "*"
pylint = "*"

[requires]
python_version = "3.6"
