name: Bump Version

on:
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Install dependencies
      run: |
        make init
    - name: Bump version
      run: |
        make release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
